In [1]:
import pandas as pd
import numpy as np

In [2]:
movies=pd.read_csv(r"C:\Users\aksha\Downloads\Movie (1).csv")
movies=movies.sort_values(by='userId').reset_index(drop=True)

In [3]:
movies

      userId                    movie  rating
0          1           Jumanji (1995)     3.5
1          2  Grumpier Old Men (1995)     4.0
2          3         Toy Story (1995)     4.0
3          4              Heat (1995)     3.0
4          4         GoldenEye (1995)     4.0
...      ...                      ...     ...
8987    7117              Heat (1995)     5.0
8988    7119         Toy Story (1995)     5.0
8989    7120         Toy Story (1995)     4.5
8990    7120           Jumanji (1995)     4.0
8991    7120           Sabrina (1995)     4.0

[8992 rows x 3 columns]

In [4]:
movies.isnull().sum()

userId    0
movie     0
rating    0
dtype: int64

In [5]:
movies['movie'].unique()

array(['Jumanji (1995)', 'Grumpier Old Men (1995)', 'Toy Story (1995)',
       'Heat (1995)', 'GoldenEye (1995)', 'Sabrina (1995)',
       'Father of the Bride Part II (1995)', 'Sudden Death (1995)',
       'Tom and Huck (1995)', 'Waiting to Exhale (1995)'], dtype=object)

In [6]:
len(movies['movie'].unique())

10

In [7]:
movies['userId'].unique()

array([   1,    2,    3, ..., 7117, 7119, 7120], dtype=int64)

In [8]:
len(movies['userId'].unique())

4081

In [9]:
user_item_table=movies.pivot_table(index='userId',values='rating',columns='movie').reset_index()

In [10]:
user_item_table

movie,userId,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
0,1,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
3,4,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4076,7115,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4077,7116,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4078,7117,NaN,3.0,4.0,5.0,NaN,3.0,1.0,NaN,4.0,NaN
4079,7119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4080,7120,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,4.5,NaN

In [11]:
user_item_table.index=movies.userId.unique()

In [12]:
user_item_table.isnull().sum()

movie
userId                                   0
Father of the Bride Part II (1995)    3424
GoldenEye (1995)                      2533
Grumpier Old Men (1995)               3396
Heat (1995)                           2821
Jumanji (1995)                        2926
Sabrina (1995)                        3381
Sudden Death (1995)                   3879
Tom and Huck (1995)                   4003
Toy Story (1995)                      1512
Waiting to Exhale (1995)              3943
dtype: int64

In [13]:
user_item_table.fillna(0,inplace=True)

In [14]:
user_item_table

movie,userId,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
1,1,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
4,4,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
7115,7115,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7116,7116,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
7117,7117,0.0,3.0,4.0,5.0,0.0,3.0,1.0,0.0,4.0,0.0
7119,7119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
7120,7120,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,4.5,0.0

In [15]:
from sklearn.metrics import pairwise_distances
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
user_sim=1 - pairwise_distances(user_item_table.values,metric='cosine')

In [17]:
np.fill_diagonal(user_sim,0)

In [18]:
user_sim_df=pd.DataFrame(user_sim,index=movies['userId'].unique(),columns=movies['userId'].unique())

In [19]:
user_sim_df

,1,2,3,4,5,6,7,8,10,11,...,7105,7107,7108,7110,7113,7115,7116,7117,7119,7120
1,0.000000,0.122859,0.164833,0.171617,0.730271,0.169115,0.234938,0.192757,0.255072,0.248822,...,0.274721,0.274721,0.274992,0.275262,0.274721,0.274721,0.274721,0.274721,0.274721,0.275261
2,0.122859,0.000000,0.268328,0.279372,0.383482,0.550598,0.710266,0.706018,0.415227,0.405053,...,0.447214,0.447214,0.447214,0.447213,0.447214,0.447214,0.447213,0.447716,0.447213,0.447213
3,0.164833,0.268328,0.000000,0.374817,0.514496,0.779744,0.513112,0.701646,0.854199,0.839855,...,0.600000,0.600450,0.600000,0.600450,0.600000,0.600000,0.600450,0.600449,0.600562,0.600505
4,0.171617,0.279372,0.374817,0.000000,0.535672,0.384554,0.534231,0.780749,0.580015,0.694394,...,0.624871,0.624695,0.624695,0.624695,0.625156,0.624695,0.624695,0.625287,0.624695,0.624695
5,0.730271,0.383482,0.514496,0.535672,0.000000,0.527862,0.733316,0.601657,0.796162,0.776653,...,0.857493,0.857493,0.857638,0.857782,0.857493,0.857493,0.857493,0.857492,0.857493,0.857782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,0.274721,0.447214,0.600000,0.624695,0.857493,0.615587,0.855186,0.701646,0.928477,0.905726,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.999999,1.000000,0.999999
7116,0.274721,0.447213,0.600450,0.624695,0.857493,0.615875,0.855186,0.701843,0.928685,0.905934,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.999999,1.000000,1.000000
7117,0.274721,0.447716,0.600449,0.625287,0.857492,0.616264,0.855546,0.702422,0.928685,0.906020,...,0.999999,0.999999,0.999999,0.999999,1.000000,0.999999,0.999999,0.000000,0.999999,0.999999
7119,0.274721,0.447213,0.600562,0.624695,0.857493,0.615947,0.855186,0.701893,0.928737,0.905986,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999999,0.000000,1.000000
7120,0.275261,0.447213,0.600505,0.624695,0.857782,0.616199,0.855392,0.701868,0.928711,0.905959,...,0.999999,1.000000,1.000000,1.000000,0.999999,0.999999,1.000000,0.999999,1.000000,0.000000

In [20]:
user_sim_df[2].sort_values(ascending=False)

7     0.710266
8     0.706018
12    0.582466
19    0.567949
6     0.550598
        ...
5     0.383482
4     0.279372
3     0.268328
1     0.122859
2     0.000000
Name: 2, Length: 4081, dtype: float64

In [22]:
user_sim_df.idxmax(axis=1)

1          5
2          7
3         10
4          8
5         29
        ...
7115    7023
7116    6579
7117    5021
7119    4980
7120    5580
Length: 4081, dtype: int64

In [24]:
movies[(movies['userId']==4) | (movies['userId']==8)]

    userId                    movie  rating
3        4              Heat (1995)     3.0
4        4         GoldenEye (1995)     4.0
11       8         Toy Story (1995)     4.0
12       8              Heat (1995)     3.0
13       8  Grumpier Old Men (1995)     5.0
14       8         GoldenEye (1995)     4.0